/* ==========================================================================
   Breadcrumb
   ========================================================================== */

/**
 * Class name twice to make sure we "win" over the jdotorg template since our styles are loaded first
 */

.breadcrumb.breadcrumb {
  padding: 8px 0;
  margin: 0;
  line-height: 24px;
  border-radius: 0;

  .active {
    display: none;
  }
}
