<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" rel="noopener" title="Joomla! on Twitter"><span aria-hidden="true" class="fab fa-twitter"></span><span class="visually-hidden">Joomla! on Twitter</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" rel="noopener" title="Joomla! on Facebook"><span aria-hidden="true" class="fab fa-facebook"></span><span class="visually-hidden">Joomla! on Facebook</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" rel="noopener" title="Joomla! on YouTube"><span aria-hidden="true" class="fab fa-youtube"></span><span class="visually-hidden">Joomla! on YouTube</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" rel="noopener" title="Joomla! on LinkedIn"><span aria-hidden="true" class="fab fa-linkedin"></span><span class="visually-hidden">Joomla! on LinkedIn</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" rel="noopener" title="Joomla! on Pinterest"><span aria-hidden="true" class="fab fa-pinterest"></span><span class="visually-hidden">Joomla! on Pinterest</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" rel="noopener" title="Joomla! on Instagram"><span aria-hidden="true" class="fab fa-instagram"></span><span class="visually-hidden">Joomla! on Instagram</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" rel="noopener" title="Joomla! on GitHub"><span aria-hidden="true" class="fab fa-github"></span><span class="visually-hidden">Joomla! on GitHub</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<nav aria-label="Footer Quick Links">
		<div class="row navbar navbar-expand">
			<ul class="navbar-nav mx-auto flex-wrap">
				<li class="nav-item"><a class="nav-link" href="https://www.joomla.org"><span>Home</span></a></li>
				<li class="nav-item"><a class="nav-link" href="https://www.joomla.org/about-joomla.html"><span>About</span></a></li>
				<li class="nav-item"><a class="nav-link" href="https://community.joomla.org"><span>Community</span></a></li>
				<li class="nav-item"><a class="nav-link" href="https://forum.joomla.org"><span>Forum</span></a></li>
				<li class="nav-item"><a class="nav-link" href="https://extensions.joomla.org"><span>Extensions</span></a></li>
				<li class="nav-item"><a class="nav-link" href="https://community.joomla.org/service-providers-directory.html"><span>Services</span></a></li>
				<li class="nav-item"><a class="nav-link" href="https://docs.joomla.org"><span>Docs</span></a></li>
				<li class="nav-item"><a class="nav-link" href="https://developer.joomla.org"><span>Developer</span></a></li>
				<li class="nav-item"><a class="nav-link" href="https://community.joomla.org/the-joomla-shop.html"><span>Shop</span></a></li>
			</ul>
		</div>

		<div class="row navbar navbar-expand">
			<ul class="navbar-nav mx-auto flex-wrap">
				<li class="nav-item"><a class="nav-link" href="https://www.joomla.org/accessibility-statement.html">Accessibility Statement</a></li>
				<li class="nav-item"><a class="nav-link" href="https://www.joomla.org/privacy-policy.html">Privacy Policy</a></li>
				<li class="nav-item"><a class="nav-link" href="https://www.joomla.org/cookie-policy.html">Cookie Policy</a></li>
				<li class="nav-item"><a class="nav-link" href="https://community.joomla.org/sponsorship-campaigns.html">Sponsor Joomla! with $5</a></li>
				<li class="nav-item"><a class="nav-link" href="https://joomla.crowdin.com" target="_blank" rel="noopener">Help Translate</a></li>
				<li class="nav-item"><a class="nav-link" href="%reportroute%">Report an Issue</a></li>
				<li class="nav-item"><a class="nav-link" href="%loginroute%">%logintext%</a></li>
			</ul>
		</div>
	</nav>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> All Rights Reserved.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" rel="noopener" target="_blank"><img class="rochen" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.svg" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" rel="noopener" target="_blank"><span dir="ltr">Joomla!</span> Hosting by Rochen</a></div>
	</div>
</div>

<div id="adblock-msg" class="alert alert-danger d-none">
	<button class="btn-close" data-bs-dismiss="alert" href="#"><span class="visually-hidden">Close</span></button>
	<span class="fa fa-triangle-exclamation"></span>
	We have detected that you are using an ad blocker. The Joomla! Project relies on revenue from these advertisements so please consider disabling the ad blocker for this domain.
</div>
