<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="COM_JED_JED3_CONFIGURATION" name="jed">
        <field name="jed3_db_host" filter="safehtml" type="text" default="localhost" label="COM_JED_MIGRATE_JED3_DB_HOST_LABEL" description="COM_JED_MIGRATE_JED3_DB_HOST_DESCR" hint="COM_JED_MIGRATE_JED3_DB_HOST_LABEL"/>
        <field name="jed3_db_user" filter="safehtml" type="text" label="COM_JED_MIGRATE_JED3_DB_USER_LABEL" description="COM_JED_MIGRATE_JED3_DB_USER_DESCR" hint="COM_JED_MIGRATE_JED3_DB_USER_LABEL"/>
        <field name="jed3_db_password" filter="safehtml" type="text" label="COM_JED_MIGRATE_JED3_DB_PASSWORD_LABEL" description="COM_JED_MIGRATE_JED3_DB_PASSWORD_DESCR" hint="COM_JED_MIGRATE_JED3_DB_PASSWORD_LABEL"/>
        <field name="jed3_db_database_name" filter="safehtml" type="text" default="bl_j3_mar22" label="COM_JED_MIGRATE_JED3_DB_NAME_LABEL" description="COM_JED_MIGRATE_JED3_DB_NAME_DESCR" hint="COM_JED_MIGRATE_JED3_DB_NAME_LABEL"/>
        <field name="jed3_db_prefix" filter="safehtml" type="text" default="wqyh6" label="COM_JED_MIGRATE_JED3_DB_PREFIX_LABEL" description="COM_JED_MIGRATE_JED3_DB_PREFIX_DESCR" hint="COM_JED_MIGRATE_JED3_DB_PREFIX_LABEL"/>
    </fieldset>
     <fieldset name="component" label="JGLOBAL_FIELDSET_INTEGRATION">
        <field
            name="save_history"
            type="radio"
            default="0"
            label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
            description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="history_limit" type="text" filter="integer" label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL" description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC" default="5"/>
    </fieldset>
    <fieldset name="images" label="COM_JED_CONFIG_IMAGES_FIELDSET_LABEL">
        <field
            name="use_cdn"
            type="radio"
            default="0"
            label="COM_JED_CONFIG_USE_CDN_LABEL"
            description="COM_JED_CONFIG_USE_CDN_DESC"
            layout="joomla.form.field.radio.switcher"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
            name="cdn_url"
            type="text"
            default=""
            label="COM_JED_CONFIG_CDN_URL_LABEL"
            description="COM_JED_CONFIG_CDN_URL_DESC"
            showon="use_cdn:1"
            filter="string"
            />
    </fieldset>
    <fieldset name="audit" label="COM_JED_CONFIG_AUDIT_FIELDSET_LABEL">
        <field
            name="anthropic_api_key"
            type="password"
            filter="raw"
            label="COM_JED_CONFIG_ANTHROPIC_API_KEY_LABEL"
            description="COM_JED_CONFIG_ANTHROPIC_API_KEY_DESC"
            />

        <field
            name="anthropic_model"
            type="text"
            default="claude-opus-4-8"
            label="COM_JED_CONFIG_ANTHROPIC_MODEL_LABEL"
            description="COM_JED_CONFIG_ANTHROPIC_MODEL_DESC"
            filter="string"
            />

        <field
            name="docker_binary_path"
            type="text"
            default="docker"
            label="COM_JED_CONFIG_DOCKER_BINARY_LABEL"
            description="COM_JED_CONFIG_DOCKER_BINARY_DESC"
            filter="string"
            />
    </fieldset>
    <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
        <field name="rules" type="rules" component="com_jed" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
    </fieldset>
</config>
