/* ==========================================================================
   Setup
   ========================================================================== */

/**
 * JED wrappers
 *
 * Cover entire viewport width. Make sure a wrapper holds a jed-container to maximize the width of the content
 */

.jed-wrapper,
.jed-cards-wrapper {
  padding-right: 32px;
  padding-left: 32px;
}

.jed-cards-wrapper {
  margin-bottom: 32px;
}
