/* ==========================================================================
   Search Tools
   ========================================================================== */

.js-stools-container-bar {
  padding: 8px 0;

  .btn-toolbar {
    align-items: center;
    row-gap: 8px;
    column-gap: 8px;
  }

  .ordering-select {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.js-stools-container-filters {
  padding: 10px;
  margin-top: 8px;
  background-color: $light;
  border-radius: 4px;

  > * {
    margin: 4px 0;
  }
}

.js-stools-field-filter {
  .form-select {
    width: auto;
    min-width: 220px;
  }
}
