/* ==========================================================================
   Stars
   ========================================================================== */

.stars {
  display: inline-flex;
  margin-right: 8px;
}

.star {
  font-size: 16px;
  color: $blue;

  &:not(:first-child) {
    margin-left: 3px;
  }
}
